<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body><div class="container">

  <!-- Main Navigation Menu -->
  <nav class="navbar">
      <!-- Left Side Menu -->
      <div class="navbar-left">
          <a href="/">Home</a>
          {% if session['user'] and session.get('role_id')==0 %}<a href="/viewdb">View All Data</a>{% endif %}
      </div>

      <!-- Right Side Menu (Sign Up/Login) -->
      <div class="navbar-right">
        {% if session.get('user') %}
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
            
                {% if session.get('profile_picture') %}
                <img src="{{ session['profile_picture'] }}" alt="User Icon" style="border-radius: 50%; width: 50px; height: 50px;">
                {% else %}
                {{ session.get('user') }}
                {% endif %}
                </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="logout">Log out</a>
            </div>
        </div>
        {% else %}
        <!--
          <div class="dropdown">
          -->
          <div>
            <!--
              <a href="login" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">Login</a>
          -->
          <a href="login" >Login</a>

          <!--
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            
                  <a class="dropdown-item" href="login">Login</a>
              </div>
            -->
          </div>
        {% endif %}
      </div>
  </nav>


{% block body %}

{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>
